.categories {
  max-width: 767px;
  margin: 0 auto;
}

.categories__list {
  margin-top: 22px;
  margin-right: 20px;
  margin-left: 20px;
}

@media (min-width: @tablet-width) {
  .categories__list {
    .mapa();
  }
}

@media (min-width: @desktop-width) {
  .categories {
    max-width: @desktop-width;
    margin-top: 133px;
  }

  .categories__list {
    margin-top: 133px;
  }
}
