.categories {
  margin-top: 22px;
}

.mass-list,
.mass-list__item {
  .mapa-ul();
}



.mass-list__heading {
  font-size: 24px;
  line-height: 37px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;

  color: @balck;
}

.mass-list__text {

  font-family: "Arial", sans-serif;
}
