.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__text {
  display: inline-block;
  vertical-align: top;

  .mapa();

  width: 140px;

  .font-size(16px; 20px);
  text-transform: uppercase;
}

.contacts__address {
  display: inline-block;
  vertical-align: top;

  .mapa();

  font-family: "Arial", sans-serif;
  font-style: normal;
  .font-size(14px; 20px);

  width: 140px;
}
