.food {
  display: flex;
  flex-direction: column;

  // height: 305px;

  text-align: center;
  position: relative;

  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;

  color: @white;
}

.food {

}

.food__heading {
  .mapa();

  margin: 30px 0 20px;

  font-size: 36px;
  font-weight: 100;
  line-height: 36px;
  letter-spacing: 0.1px;
  text-align: center;
}

.food__text {
  .mapa();

  font-size: 14px;
  line-height: 14px;
  font-weight: 200;
  text-transform: uppercase;
}

.food-image {
  margin-top: 30px;

  display: block;
}


