.form-programm__input[type="text"],
.form-programm__area[placeholder] {
  .mapa();

  padding: 14px 0 14px 17px;

  border: 1px solid @lightgray2;

  font-family: "Oswald", sans-serif;
  .font-size(16px; 18px);
  font-weight: 100;
  text-transform: uppercase;

  color: @gray;
}

.form-programm__field {
  .mapa();

  border: 0;
}

.form-programm__title {
  .mapa();
  padding-right: 18px;
  padding-top: 10px;
}

.form-programm__title[for="age"] {
  padding-top: 15px;
}

.form-programm__flex-cat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-programm__cat {
  display: flex;
  justify-content: space-between;

  width: 280px;

  .mapa();
  margin-bottom: 15px;
}

.form-programm__data {
  display: flex;
  justify-content: space-between;

  .mapa();
  margin-bottom: 15px;

  width: 100%;
}

.form-programm__cat .form-programm__input {
  width: 100%;
}

.form-programm__input[name="age"] {
  width: calc(100% - 135px);
}

.form-programm__flex-select {
  display: flex;
  flex-direction: column;

  position: relative;
  padding: 25px 0 40px;

  &::before {
    position: absolute;
    left: -20px;
    top: 15px;

    content: "";

    width: 320px;
    height: 1px;

    background: @lightgray2;
  }

  &::after {
    position: absolute;
    left: -20px;
    bottom: 25px;

    content: "";

    width: 320px;
    height: 1px;

    background: @lightgray2;
  }
}

.form-programm__title2 {
  .mapa();
  padding-left: 46px;
}

.form-programm__radio-indicator {
  position: relative;

  &::after {
    position: absolute;
    left: -1px;
    top: -1px;

    content: "";

    width: 30px;
    height: 30px;

    border-radius: 50%;

    border: 1px solid @lightgray2;
  }

  &::before {
    position: absolute;
    left: 9px;
    top: 9px;

    content: "";

    width: 12px;
    height: 12px;

    border-radius: 50%;

    background: @white;
  }
}

.form-programm__radio-indicator:hover {
  &::before {
    background: red;
  }
}

.form-programm__select input[type="radio"]:checked + .form-programm__radio-indicator {
  &::before {
    background: @green;
  }
}

// .form-programm__select input[type="radio"]:disabled + .form-programm__radio-indicator {
//     &::before {
//     background: none;
//   }
// }

.form-programm__select input[type="radio"]:focus + .form-programm__radio-indicator {
  &::after {
    box-shadow: 0 0 5px 3px lightblue;
  }
}

.form-programm__heading {
  position: relative;
  top: 0;
  left: 0;

  .mapa();
  margin-bottom: 20px;
  padding-right: 5px;

  .font-size(24px; 24px);
  font-weight: 100;
  text-transform: none;

  color: @black;

  &::after {
    position: absolute;
    top: 15px;
    right: -100px;

    content: "";

    width: 100px;
    height: 4px;

    background-color: @green;
  }
}

.form-programm__flex-data {
  display: flex;
  direction: column;
  flex-wrap: wrap;
}

.form-programm__input[name="mail"] {
  width: 100%;
  background-image: url("../img/icon-mail.svg");
  background-size: 150px 15px;
  background-position: 118px center;
  background-repeat: no-repeat;
}

.form-programm__input[name="tel"] {
  width: 100%;
  background-image: url("../img/icon-phone.svg");
  background-size: 150px 21px;
  background-position: 100px center;
  background-repeat: no-repeat;
}

.form-programm_flex-area {
  display: flex;
  flex-direction: column;
}

.form-programm_flex-area .form-programm__heading {
  margin-top: 20px;
  margin-bottom: 40px;

  &::after {
    right: -20px;
    width: 160px;
  }
}

.form-programm__area[placeholder] {
  padding-top: 14px;
  padding-bottom: 120px;
  padding-left: 10px;

  font-weight: 300;
}

.form-programm_flex-add {
  display: flex;
  flex-wrap: wrap;
}

.form-programm_flex-add .form-programm__heading {
  margin-top: 25px;
  margin-bottom: 40px;

  &::after {
    right: -140px;
    width: 135px;
  }
}

.form-programm_flex-add2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-programm__add {
  width: 100%;

  .mapa();

  margin-bottom: 30px;
  position: relative;
}

.form-programm__title3 {
  padding-left: 50px;
}

.form-programm__add .form-programm__checkbox-indicator {
  cursor: pointer;

  &::after {
    position: absolute;
    left: 0;
    top: -3px;

    content: "";

    width: 30px;
    height: 30px;

    border: 1px solid @lightgray2;
  }
}

.form-programm__add .form-programm__checkbox-indicator:hover {
  &::before {
    background: red;
  }
}

.form-programm__add input[type="checkbox"]:checked + .form-programm__checkbox-indicator {
  &::before {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 100;

    content: "";

    width: 21px;
    height: 16px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }
}

// .form-programm__select input[type="radio"]:disabled + .form-programm__radio-indicator {
//     &::before {
//     background: none;
//   }
// }

.form-programm__add input[type="checkbox"]:focus + .form-programm__checkbox-indicator {
  &::after {
    box-shadow: 0 0 5px 3px lightblue;
  }
}

.programm__small {
  .mapa();
  padding: 0 50px;

  font-family: "Arial", sans-serif;
  .font-size(14px; 16px);
}

.form-programm__button {
  width: 100%;

  border: 0;

  font-family: "Oswald", sans-serif;
  .font-size(16px; 20px);
  font-weight: 100;
  text-transform: uppercase;
}

.programm__small-tablet {
  display: none;

  width: 50%;

  font-family: "Arial", sans-serif;
  .font-size(16px; 16px);
  text-transform: none;
}

@media (min-width: @tablet-width) {
  .form-programm__input[type="text"],
  .form-programm__area[placeholder] {
    .font-size(20px; 20px);
  }

  .form-programm__cat {
    width: 100%;
  }

  .form-programm__flex-cat {
    flex-direction: column;

    padding-left: 40px;
    padding-right: 40px;
  }

  .form-programm__flex-select {
    padding: 40px 0 40px;
    padding-left: 40px;
    padding-right: 40px;

    border: 1px solid @lightgray2;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .form-programm__heading  {
    .font-size(36px; 36px);

    padding-left: 40px;
    margin-top: 77px;
    margin-bottom: 77px;
  }

  .form-programm_flex-add .form-programm__heading,
  .form-programm_flex-area .form-programm__heading {
    margin-top: 77px;
    margin-bottom: 77px;
  }

  .form-programm__heading br {
    display: none;
  }

  .form-programm_flex-add {
    display: flex;
    flex-wrap: wrap;
  }

  .form-programm__add {
    width: calc(50% - 80px);

    margin-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .programm__small {
    display: none;
  }

  .form-programm__button {
    width: calc(50% - 40px);

    padding-left: 40px;

   .font-size(20px; 20px);

  }

  .programm__small-tablet {
    display: block;
  }

  .form-programm__button-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-left: 40px;
  }
}
