.howitwork {
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;

  max-width: @mobile-width-only;
}

.howitwork__list,
.howitwork__item {
  .mapa-ul();
}

.howitwork__heading {
  .mapa();
  margin-bottom: 38px;

  .font-size(36px; 40px);
  font-weight: 300;

  color: @black;
}

.howitwork__item {
  position: relative;

  padding-left: 80px;
  padding-top: 3px;
  margin-bottom: 8.2%;

  font-family: "Arial", sans-serif;

  color: @gray;
}

.howitwork__item::before {
  position: absolute;
  left: 0;
  top: 0;

  content: "";

  width: 60px;
  height: 60px;

  background-color: @green;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: 50% 50%;
}

.howitwork__leaf::before {
  background-image: url("../img/advantage-leaf@1x.png");
}

.howitwork__powder::before {
  background-image: url("../img/advantage-powder@1x.png");
}

.howitwork__dining::before {
  background-image: url("../img/advantage-dining@1x.png");
}

.howitwork__clock::before {
  background-image: url("../img/advantage-clock@1x.png");
}

@media (min-resolution: @retina-dppx) {
  .howitwork__leaf::before {
    background-image: url("../img/advantage-leaf@2x.png");
  }

  .howitwork__powder::before {
    background-image: url("../img/advantage-powder@2x.png");
  }

  .howitwork__dining::before {
    background-image: url("../img/advantage-dining@2x.png");
  }

  .howitwork__clock::before {
    background-image: url("../img/advantage-clock@2x.png");
  }
}

@media (min-width: @tablet-width) {
  .howitwork {
    max-width: @tablet-width;
    margin: 0 auto;
  }

  .howitwork__heading {
    .mapa();
    margin-bottom: 76px;

    .font-size(60px; 60px);
  }

  .howitwork__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    position: relative;

    &::after {
      position: absolute;
      bottom: 2px;
      left: -30px;

      content: "";

      width: 768px;
      height: 1px;

      background-color: @lightgray2;
    }
  }

  .howitwork__item {
    width: 46%;
    z-index: 50;

    .mapa();
    padding-top: 110px;
    padding-bottom: 105px;
    padding-right: 80px;
    margin-bottom: 30px;

    box-sizing: border-box;

    .font-size(16px; 24px);
  }

  .howitwork__item:nth-last-child(2),
  .howitwork__item:last-child {
    margin-bottom: 0;
  }

  .howitwork__item::before {
    top: -2px;

    width: 80px;
    height: 80px;
  }

  .howitwork__item::after {
    position: absolute;
    top: 87px;
    right: 97px;
    z-index: -1;

    content: "1";

    font-size: 281px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 300;

    color: #f2f2f2;
  }

  .howitwork__item:nth-child(2)::after {
    content: "2";
    right: 80px;
  }

  .howitwork__item:nth-child(3)::after {
    content: "3";
    right: 80px;
  }

  .howitwork__item:nth-child(4)::after {
    content: "4";
    right: 75px;
  }
}

@media (min-width: @desktop-width) {
  .howitwork {
    max-width: @desktop-width;
    margin: 0 auto;
  }

  .howitwork__heading {
    margin-top: 55px;
    margin-bottom: 69px;
  }

  .howitwork__item {
    width: 20%;

    .mapa();
    padding-top: 115px;
    padding-bottom: 40px;
    padding-right: 20px;
    margin-bottom: 30px;

    box-sizing: border-box;

    .font-size(16px; 24px);
  }

  .howitwork__item:nth-last-child(2),
  .howitwork__item:last-child {
    margin-bottom: 30px;
  }

  .howitwork__item::before {
    top: 1px;

    width: 80px;
    height: 81px;
  }

  .howitwork__item::after {
    position: absolute;
    top: 87px;
    right: 10px;
    z-index: -1;
  }

  .howitwork__list {
    &::after {
      display: none;
    }
  }

  .howitwork__item:nth-child(2)::after {
    content: "2";
    right: 0;
  }

  .howitwork__item:nth-child(3)::after {
    content: "3";
    right: 0;
  }

  .howitwork__item:nth-child(4)::after {
    content: "4";
    right: 0;
  }
}
