.page-header {
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  width: 150px;
}

.main-nav__toggle {
  position: relative;

  width: 130px;

  border: 0;

  background: none;
}

.main-nav__toggle::after {
  position: absolute;

  content: "";

  width: 130px;
  height: 50px;

  background-image: url(../../img/icon-mobile-menu.svg);
  background-repeat: no-repeat;
  bacground-size: cover;
}

.main-nav__wrapper {
  display: none;

  position: relative;
  bac
}
