.page-footer {
  max-width: @mobile-width-only;

  margin: 0 auto;
  padding: 0 20px;

  background-color: @lightgray;
}

.page-footer__logo {
  display: block;
  margin: 0 auto;

  text-align: center;

  padding-top: 14%;
  margin-bottom: 11%;
}

.page-footer__logo:hover {
  opacity: 0.8;
}

.page-footer__logo:active {
  opacity: 0.6;
}

.social-list {
  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: center;

  .mapa-ul();
  padding: 24px 17% 17px;

  border-top: 1px solid @lightgray2;
  border-bottom: 1px solid @lightgray2;
}

.social-list__item:hover .page-footer__icon-vk,
.social-list__item:hover .page-footer__icon-fb,
.social-list__item:hover .page-footer__icon-insta {
    color: @green;
}

.social-list__item:active .page-footer__icon-vk,
.social-list__item:active .page-footer__icon-fb,
.social-list__item:active .page-footer__icon-insta {
    color: @green;
    opacity: 0.6;
}

.page-footer__wrapper-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 14px 0;
}

.page-footer__wrapper-academy:hover .page-footer__academy-sign {
  color: @green;
}

.page-footer__wrapper-academy:active {
  opacity: 0.3;
}

.page-footer__academy {
  .mapa();

  font-family: "Arial", "Tahoma", sans-serif;
  font-weight: 300;
  .font-size(16px; 16px);
  text-transform: none;

  color: @gray;
}

@media (min-width: @tablet-width) {
  .page-footer {
    max-width: 100%;

    padding: 0;
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .mapa();
    margin: 0 auto;
    padding: 52px 0;
  }

  .page-footer__logo {
    .mapa();
  }

  .page-footer__icon-vk {
    width: auto;
    height: 16px;

    color: @footer;
  }

  .page-footer__icon-insta {
    width: 23px;
    height: 23px;

    color: @footer;
  }

  .page-footer__icon-fb {
    width: 70px;
    height: 29px;

    padding: 0;

    color: @footer;
  }

  .social-list {
    position: relative;

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    width: 28%;

    .mapa-ul();

    border-bottom: 0;
    border-top: 0;

    box-sizing: border-box;
  }

  .social-list__item {
    .mapa();
  }

  .page-footer__academy-logo {
    color: @footer;
  }


  .page-footer__wrapper-academy {
    display: flex;
    justify-content: space-between;

    .mapa();
  }

  .page-footer__academy {
    .mapa();
    margin-right: 25px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    max-width: @desktop-width;

    background-color: @lightgray;

    padding: 0;
  }

  .page-footer__wrapper {
    padding: 60px 0 50px;
  }

  .social-list {
    position: relative;

    justify-content: space-between;

    width: 10%;

    margin-left: 22px;
  }

  .page-footer__icon-fb {
    width: 15px;
    height: 30px;
  }

  .page-footer__icon-vk {
    width: 30px;
    height: 17px;
  }
}
