.programm__heading {
  .mapa();
  margin-top: 20px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 100;

  color: @black;
}

.programm__text {
  .mapa();
  padding: 30px 0 36px;

  .font-size(14px; 18px);
  font-weight: 100;
  text-transform: uppercase;

  color: @gray;
}

.programm__form {
  .mapa();

  .font-size(16px; 18px);
  font-weight: 100;
  text-transform: uppercase;

  color: @l-black;
}


@media (min-width: @tablet-width) {
  .programm__heading {
    margin-top: 40px;

    font-size: 60px;
  }

  .programm__text {
    padding: 55px 310px 50px 40px;

    .font-size(20px; 30px);
  }

  .programm__form {
    .font-size(20px; 20px);
  }
}

@media (min-width: @desktop-width) {
  .programm__text {
    width: 29.6%;
  }
}
