@import "blocks/normalize.css";
@import "fonts.less";
@import "variables.less";
@import "mixins.less";
@import "blocks/page-header.less";
@import "blocks/site-list.less";
@import "blocks/food.less";
@import "blocks/categories.less";
@import "blocks/howitwork.less";
@import "blocks/example.less";

body {
  .mapa();

  min-width: 320px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: @gray;
}

.container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;

  text-transform: uppercase;

  color: @black;
}

// img {
//   max-width: 100%;
//   height: auto;
// }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding-top: 11px;
  padding-bottom: 11px;

  background: @green;

  color: @white;

  display: inline-block;
  vertical-align: top;
}
