@import "blocks/normalize.css";
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/oswaldmedium.woff") format("woff"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff"), url("../fonts/oswaldregular.woff2") format("woff2");
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page-header__logo {
  width: 190px;
}
.page-header__logo-image {
  display: block;
}
.main-nav {
  position: relative;
  width: 90px;
}
.main-nav__toggle {
  margin: 0;
  padding: 0;
  width: 130px;
  border: 0;
}
.main-nav__toggle::after {
  position: absolute;
  top: calc(50% - 9px);
  right: 0;
  display: block;
  content: "";
  width: 24px;
  height: 18px;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-nav__wrapper {
  position: absolute;
  left: -190px;
  top: 100%;
  width: 280px;
  display: none;
}
.site-list,
.site-list__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.site-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-list__item {
  display: relative;
  width: 320px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  border-top: 1px solid #f7f7f7;
  padding: 24px 0;
  margin-left: -20px;
}
.site-list__item:last-child {
  border-bottom: 1px solid #f7f7f7;
}
.food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;
  color: #ffffff;
}
.food__heading {
  margin: 0;
  padding: 0;
  margin: 30px 0 20px;
  font-size: 36px;
  font-weight: 100;
  line-height: 36px;
  letter-spacing: 0.1px;
  text-align: center;
}
.food__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 200;
  text-transform: uppercase;
}
.food-image {
  margin-top: 30px;
  display: block;
}
.categories {
  margin-top: 22px;
}
.mass-list,
.mass-list__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.mass-list__item {
  padding: 35px 22px 22px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}
.mass-list__heading {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-left: 70px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: left;
  color: #111111;
}
.mass-list__heading::before {
  position: absolute;
  left: 0;
  top: -7px;
  content: "";
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #68b738;
}
.mass-list__heading::after {
  position: absolute;
  left: 8px;
  top: -7px;
  content: "";
  width: 36px;
  height: 50px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
}
.mass-list__item:nth-child(2) .mass-list__heading::after {
  position: absolute;
  left: -10px;
  top: 6px;
  content: "";
  width: 68px;
  height: 30px;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
}
.mass-list__text {
  position: relative;
  margin-bottom: 50px;
  font-family: "Arial", sans-serif;
}
.mass-list__text::after {
  position: absolute;
  left: 0;
  bottom: -25px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #444444;
  opacity: 0.2;
}
.mass-list__button {
  position: relative;
  font-size: 16px;
  line-height: 16px;
}
.mass-list__button::after {
  position: absolute;
  right: -40px;
  top: 7px;
  content: "";
  width: 24px;
  height: 11px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}
.howitwork__list,
.howitwork__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.howitwork__item {
  position: relative;
  padding-left: 80px;
  padding-top: 3px;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
}
.howitwork__item::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
}
.howitwork__item:nth-child(1)::before {
  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.howitwork__item:nth-child(2)::before {
  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.howitwork__item:nth-child(3)::before {
  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.howitwork__item:nth-child(4)::before {
  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.howitwork__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 100;
  color: #111111;
}
.example {
  position: relative;
  left: -20px;
  width: 280px;
  padding: 30px 20px;
  background-color: #f2f2f2;
}
.example__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  font-size: 36px;
  line-height: 40px;
  font-weight: 100;
  color: #111111;
}
.example__text {
  font-family: "Arial", sans-serif;
}
.example__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-collapse: collapse;
}
.example__tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
}
.example__digit {
  width: 124px;
  margin: 0;
  padding: 0;
  padding: 14px 0 13px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}
.example__value {
  display: inline-block;
  vertical-align: top;
  padding: 5px 18px;
  margin: -5px 17px 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #f2f2f2;
}
.example__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}
.example__wrapper-slider {
  position: relative;
  margin-top: 40px;
}
.example__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: -20px;
  padding-bottom: 220px;
}
.example__item {
  position: absolute;
}
.example__slider-toggles {
  position: relative;
  margin: 0;
  padding: 0;
  margin: 40px auto 0;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.example__slider-toggle {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  background-color: none;
}
.example__slider-indicator {
  position: absolute;
  left: calc(50% - 42px);
  bottom: 2px;
  margin: 0;
  padding: 0;
  padding: 7px 0;
  width: 84px;
  border: 1px solid #cdcdcd;
  border-radius: 7px;
}
.example__slider-indicator::before {
  position: absolute;
  bottom: 3.5px;
  left: 5px;
  content: "";
  width: 35px;
  padding: 3px 0;
  border-radius: 5px;
  background-color: #68b738;
}
.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__text {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.contacts__address {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  width: 140px;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  padding-top: 11px;
  padding-bottom: 11px;
  background: #68b738;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
}

/*# sourceMappingURL=style.css.map */
