@import "blocks/normalize.css";
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/oswaldmedium.woff") format("woff"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff"), url("../fonts/oswaldregular.woff2") format("woff2");
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.page-header__logo {
  margin: 0;
  padding: 0;
  padding: 10px 0;
}
.main-nav {
  margin: 0;
  padding: 0;
  width: 320px;
}
.main-nav__toggle {
  margin: 0;
  padding: 0;
  border: 0;
}
.main-nav__toggle::after {
  position: absolute;
  top: 32px;
  right: 20px;
  display: block;
  content: "";
}
.main-nav--closed .main-nav__toggle::after {
  width: 24px;
  height: 18px;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-nav--opened .main-nav__toggle::after {
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .page-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-header__logo {
    width: 173px;
    height: 60px;
  }
  .main-nav {
    width: 500px;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    margin-top: 65px;
    padding: 0;
  }
  .main-nav {
    position: relative;
    z-index: 20;
    width: 610px;
  }
}
.site-list,
.site-list__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.site-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-list__item {
  display: relative;
  left: 0;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  border-top: 1px solid #f7f7f7;
  padding: 24px 30px;
}
.site-list__item:last-child {
  border-bottom: 1px solid #f7f7f7;
}
.main-nav--closed .site-list__item {
  display: none;
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--nojs .site-list__item {
  display: black;
}
@media (min-width: 768px) {
  .site-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 500px;
  }
  .site-list__item {
    border-top: none;
    margin: 0;
    padding: 0;
    margin-left: 35px;
    padding-top: 25px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 200;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 610px;
  }
  .site-list__item {
    margin-left: 40px;
    padding-top: 85px;
    font-size: 20px;
    line-height: 25px;
  }
  .site-list__link {
    color: #ffffff;
  }
}
.food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  position: relative;
  text-align: center;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;
  color: #ffffff;
}
.food__heading {
  margin: 0;
  padding: 0;
  margin: 30px 0 20px;
  font-size: 36px;
  font-weight: 100;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-align: center;
}
.food__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 200;
  text-transform: uppercase;
}
.food-image {
  margin: 0 auto;
  margin-top: 30px;
  display: block;
}
@media (min-width: 768px) {
  .food {
    width: auto;
    background-image: none;
  }
  .food__heading {
    width: 500px;
    margin-left: 90px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }
  .food__text {
    margin-left: 90px;
    margin-top: 40px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #111111;
  }
  .food-image {
    position: relative;
    z-index: 10;
    width: 709px;
    height: 609px;
  }
  .food__button {
    position: absolute;
    top: 30%;
    z-index: 10;
    margin-left: 90px;
  }
}
@media (min-width: 1200px) {
  .food {
    background-image: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .food::after {
    position: absolute;
    right: -70px;
    top: -120px;
    z-index: 0;
    content: "";
    width: 720px;
    height: 696px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .food__header {
    width: 40%;
  }
  .food__heading {
    width: 490px;
    margin-left: 80px;
    margin-top: 110px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }
  .food__text {
    margin-left: 80px;
  }
  .food-image {
    width: 552px;
    height: 499px;
  }
  .food__button {
    position: absolute;
    top: 36%;
    margin-left: 80px;
    margin-top: 150px;
  }
}
.mass-list,
.mass-list__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.categories__list {
  margin-top: 22px;
}
.mass-list__item {
  padding: 35px 22px 22px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}
.mass-list__heading {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-left: 70px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: left;
  color: #111111;
}
.mass-list__heading::before {
  position: absolute;
  left: 0;
  top: -7px;
  content: "";
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #68b738;
}
.mass-list__heading::after {
  position: absolute;
  left: 8px;
  top: -7px;
  content: "";
  width: 36px;
  height: 50px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
}
.mass-list__item:nth-child(2) .mass-list__heading::after {
  position: absolute;
  left: -10px;
  top: 6px;
  content: "";
  width: 68px;
  height: 30px;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
}
.mass-list__text {
  position: relative;
  margin-bottom: 50px;
  font-family: "Arial", sans-serif;
}
.mass-list__text::after {
  position: absolute;
  left: 0;
  bottom: -25px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #444444;
  opacity: 0.2;
}
.mass-list__button {
  position: relative;
  font-size: 16px;
  line-height: 16px;
}
.mass-list__button::after {
  position: absolute;
  right: -40px;
  top: 7px;
  content: "";
  width: 24px;
  height: 11px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .mass-list__text {
    width: 330px;
    margin-bottom: 65px;
    font-size: 16px;
    line-height: 24px;
  }
  .mass-list__text::after {
    display: none;
  }
  .mass-list__heading {
    position: relative;
    padding-left: 0;
    font-size: 36px;
    line-height: 37px;
  }
  .mass-list__item {
    padding: 74px 50px 64px;
  }
  .mass-list__heading::before {
    left: 390px;
    width: 200px;
    height: 200px;
  }
  .mass-list__heading::after {
    left: 430px;
    width: 146px;
    height: 195px;
  }
  .mass-list__item:nth-child(2) .mass-list__heading::after {
    left: 350px;
    top: 30px;
    width: 270px;
    height: 107px;
  }
}
@media (min-width: 1200px) {
  .categories__list {
    margin-top: 170px;
  }
  .mass-list__button {
    font-size: 20px;
    line-height: 20px;
  }
  .mass-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mass-list__item {
    width: 46.7%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .mass-list__heading {
    margin-bottom: 80px;
    margin-left: 160px;
  }
  .mass-list__heading::before {
    left: -160px;
    width: 100px;
    height: 100px;
  }
  .mass-list__heading::after {
    left: -160px;
    width: 74px;
    height: 96px;
  }
  .mass-list__item:nth-child(2) .mass-list__heading::after {
    left: -170px;
    top: 10px;
    width: 137px;
    height: 58px;
  }
}
.howitwork__list,
.howitwork__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.howitwork__item {
  position: relative;
  padding-left: 80px;
  padding-top: 3px;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
}
.howitwork__item::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
}
.howitwork__item:nth-child(1)::before {
  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.howitwork__item:nth-child(2)::before {
  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.howitwork__item:nth-child(3)::before {
  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.howitwork__item:nth-child(4)::before {
  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.howitwork__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 100;
  color: #111111;
}
@media (min-width: 768px) {
  .howitwork__heading {
    margin: 0;
    padding: 0;
    margin-bottom: 75px;
    font-size: 60px;
    line-height: 60px;
  }
  .howitwork__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .howitwork__list::after {
    position: absolute;
    bottom: 20px;
    left: -30px;
    content: "";
    width: 768px;
    height: 1px;
    background-color: #cdcdcd;
  }
  .howitwork__item {
    width: 354px;
    z-index: 50;
    margin: 0;
    padding: 0;
    padding-top: 110px;
    padding-bottom: 105px;
    padding-right: 100px;
    margin-bottom: 35px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
  }
  .howitwork__item::before {
    width: 80px;
    height: 80px;
  }
  .howitwork__item::after {
    position: absolute;
    top: 87px;
    right: 100px;
    z-index: 5;
    content: "1";
    font-size: 281px;
    font-family: "Oswald", sans-serif;
    color: #f2f2f2;
  }
  .howitwork__item:nth-child(2)::after {
    content: "2";
  }
  .howitwork__item:nth-child(3)::after {
    content: "3";
  }
  .howitwork__item:nth-child(4)::after {
    content: "4";
  }
}
@media (min-width: 1200px) {
  .howitwork__heading {
    margin-top: 80px;
    margin-bottom: 70px;
  }
  .howitwork__item {
    width: 20%;
    margin: 0;
    padding: 0;
    padding-top: 115px;
    padding-bottom: 40px;
    padding-right: 20px;
    margin-bottom: 90px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
  }
  .howitwork__item::after {
    position: absolute;
    top: 87px;
    right: -5px;
    z-index: 5;
  }
  .howitwork__list::after {
    display: none;
  }
}
.example {
  width: 320px;
  margin: 0 auto;
  margin-top: 45px;
  padding-bottom: 30px;
  background-color: #f2f2f2;
}
.example__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 30px;
  display: inline-block;
  vertical-align: top;
  font-size: 36px;
  line-height: 40px;
  font-weight: 100;
  color: #111111;
}
.example__text {
  font-family: "Arial", sans-serif;
}
.example__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-collapse: collapse;
}
.example__tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
}
.example__digit {
  width: 124px;
  margin: 0;
  padding: 0;
  padding: 14px 0 13px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}
.example__value {
  display: inline-block;
  vertical-align: top;
  padding: 5px 18px;
  margin: -5px 17px 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #f2f2f2;
}
.example__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}
.example__wrapper-slider {
  position: relative;
  margin-top: 40px;
}
.example__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: -20px;
  padding-bottom: 220px;
}
.example__item {
  position: absolute;
}
.example__slider-toggles {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  margin: 0;
  padding: 0;
  margin: 40px auto 0;
}
.example__slider-toggle {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}
.example__slider-indicator {
  position: absolute;
  left: calc(50% - 42px);
  bottom: 2px;
  width: 84px;
  margin: 0;
  padding: 0;
  padding: 7px 0;
  border: 1px solid #cdcdcd;
  border-radius: 7px;
}
.example__slider-indicator::before {
  position: absolute;
  bottom: 3.7px;
  left: 5px;
  content: "";
  width: 35px;
  padding: 3px 0;
  border-radius: 5px;
  background-color: #68b738;
}
.example__slider-indicator::after {
  display: none;
  position: absolute;
  bottom: 3.7px;
  right: 5px;
  content: "";
  width: 35px;
  padding: 3px 0;
  border-radius: 5px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .example {
    width: auto;
    padding-bottom: 0;
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #ffffff), color-stop(60%, #f2f2f2), to(#f2f2f2));
    background-image: linear-gradient(to bottom, #ffffff 60%, #f2f2f2 60%, #f2f2f2);
  }
  .example__heading {
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
  }
  .example__text {
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 24px;
  }
  .example__tablewrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .example__digit {
    font-size: 30px;
    line-height: 37px;
    padding: 23px 25px 20px;
  }
  .example__value {
    padding: 5px 18px;
    margin: -13px 14px 0;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
  .example__value:nth-child(2) {
    margin-left: 35px;
    padding: 5px 9px;
  }
  .example br {
    display: none;
  }
  .example__tr:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 56%;
  }
  .example__tr:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 56%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .example__tr:nth-child(3) {
    width: 200px;
  }
  .example__result {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 280px;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
  }
  .example__wrapper-slider {
    margin-top: 80px;
    width: auto;
  }
  .example__image {
    width: 490px;
    height: 430px;
    margin: 0 auto;
  }
  .example__list {
    margin: 0;
    padding: 0;
    padding: 215px 0;
  }
  .example__item {
    top: 0;
    left: 18%;
  }
  .example__slider-toggles {
    width: auto;
    padding: 0 70px;
    padding-bottom: 68px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .example__slider-toggle {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 7px;
    border-bottom: 1px dotted #cdcdcd;
  }
  .example__slider-indicator {
    position: absolute;
    left: calc(50% - 214px);
    bottom: 76px;
    width: 428px;
    height: 6px;
    padding: 0;
    border-radius: 7px;
    background-color: #cdcdcd;
  }
  .example__slider-indicator::before {
    position: absolute;
    top: -17px;
    left: calc(50% - 18px);
    content: "";
    width: 36px;
    height: 36px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #ffffff;
  }
  .example__slider-indicator::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 4px);
    content: "";
    padding: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #68b738;
  }
}
@media (min-width: 1200px) {
  .example {
    margin-top: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #ffffff), color-stop(20%, #f2f2f2), to(#f2f2f2));
    background-image: linear-gradient(to bottom, #ffffff 20%, #f2f2f2 20%, #f2f2f2);
  }
  .example__heading {
    margin: 0;
    padding: 0;
    margin-bottom: 67px;
  }
  .example__text {
    width: 46.7%;
    margin: 0;
    padding: 0;
    padding-right: 11.5%;
    padding-top: 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 100px;
  }
  .example__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .example__table {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: absolute;
    bottom: 70px;
    width: 46.7%;
    padding-right: 16.4%;
    padding-bottom: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .example__wrapper-slider {
    top: -60px;
    width: 46.7%;
    margin: 0;
    padding: 0;
  }
  .example__item {
    top: -70px;
    left: 5%;
  }
  .example__image {
    width: 520px;
    height: 480px;
  }
  .example__tablewrapper {
    width: 100%;
  }
  .example__tr:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .example__tr:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .example__tr:nth-child(3) {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-right: 0;
    padding-right: 0;
  }
  .example__digit {
    width: 28%;
  }
  .example__tr .example__result {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 30px;
  }
  .example__slider-toggles {
    position: relative;
    width: auto;
    padding: 0;
    margin: 0;
  }
  .example__slider-toggle {
    top: 0;
    margin: 0;
    padding: 0;
  }
  .example__slider-indicator {
    left: calc(50% - 214px);
    bottom: 20px;
  }
  .example__slider-indicator::before {
    top: -13px;
    left: calc(50% - 18px);
  }
  .example__slider-indicator::after {
    bottom: -3px;
    left: calc(50% - 4px);
  }
}
.contacts {
  background-color: #f2f2f2;
}
.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 28px;
  margin-top: 40px;
}
.contacts__text {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.contacts__address {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}
.contacts__map {
  display: block;
  position: relative;
  left: calc(50% - 160px);
  padding: 200px 0;
  width: 320px;
  background-color: #f2f2f2;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 320px 400px;
}
@media (min-width: 768px) {
  .contacts {
    background-color: transparent;
  }
  .contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-top: 0;
  }
  .contacts__text {
    width: 200px;
    font-size: 20px;
    line-height: 25px;
  }
  .contacts__address {
    width: 180px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
  .contacts__city {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-top: 30px;
  }
  .contacts__map {
    position: relative;
    left: 0;
    padding: 200px 0;
    width: auto;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-size: 768px 400px;
    background-position: 50% 0;
  }
}
@media (min-width: 1200px) {
  .contacts__map {
    background-image: url("../img/bg-map-desktop@1x.png");
    background-size: 1440px 400px;
    background-position: 50% 0;
  }
  .contacts {
    position: relative;
  }
  .contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 70px 90px 60px 75px;
    margin-top: 55px;
    width: 405px;
    position: absolute;
    z-index: 10;
    background-color: white;
  }
}
.page-footer {
  width: 320px;
  margin: 0 auto;
}
.page-footer__logo {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.social-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 24px 0;
}
.social-list::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 280px;
  height: 1px;
  background-color: #cdcdcd;
}
.social-list::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 280px;
  height: 1px;
  background-color: #cdcdcd;
}
.page-footer__wrapper-academy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 22px 0;
}
.page-footer__academy {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .page-footer {
    width: auto;
    padding: 65px 0;
  }
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  .page-footer__logo {
    margin: 0;
    padding: 0;
  }
  .social-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding: 12px 0;
  }
  .social-list::after {
    display: none;
  }
  .social-list::before {
    display: none;
  }
  .social__image {
    height: 22px;
  }
  .page-footer__wrapper-academy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  .page-footer__academy {
    margin: 0;
    padding: 0;
    margin-right: 30px;
  }
}
.catalog-main {
  width: 320px;
  margin: 0 auto;
}
.catalog-main__heading {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  margin-top: 20px;
  border-bottom: 1px solid #cdcdcd;
  font-size: 36px;
  line-height: 60px;
  font-weight: 100;
  color: #111111;
}
.products__list,
.products__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.products__heading {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 19px;
  width: 85px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 200;
  text-transform: uppercase;
  color: #111111;
}
.products__table {
  width: 140px;
  border-collapse: collapse;
  margin-bottom: 19px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}
.products__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.products__wrapper {
  width: 140px;
}
.products__button {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}
.products__button::after {
  position: absolute;
  bottom: 0;
  left: -20px;
  content: "";
  width: 320px;
  height: 1px;
  background-color: #cdcdcd;
}
.products__value {
  text-align: right;
}
.products__all-heading {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  margin-top: 82px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}
.products__all-heading::after {
  position: absolute;
  top: 25px;
  left: 125px;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
}
.products__all-text {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 19px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.products__item:last-child .products__button {
  color: #444444;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .catalog-main {
    width: 768px;
  }
  .catalog-main__heading {
    padding: 0 30px;
    padding-bottom: 78px;
    margin-top: 40px;
    border-bottom: 0;
    font-size: 60px;
    line-height: 60px;
  }
  .products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .products__item {
    width: 45.8%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 55px;
    background-color: #f2f2f2;
  }
  .products__item:last-child {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    background-color: transparent;
  }
  .products__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products__heading {
    margin: 0;
    padding: 0;
    width: 42%;
    margin-top: 50px;
    margin-bottom: 27px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  .products__table {
    width: 100%;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 16px;
  }
  .products__field,
  .products__value {
    padding: 8px 0;
  }
  .products__tr {
    border-bottom: 1px solid #cdcdcd;
  }
  .products__button {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 0;
    font-size: 16px;
  }
  .products__button::after {
    display: none;
  }
  .products__all-heading {
    margin-top: 165px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 20px;
  }
  .products__all-heading::after {
    top: 55px;
    left: 125px;
    width: 60px;
    height: 60px;
  }
  .products__all-text {
    margin-bottom: 85px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 19px;
  }
  .products__item:last-child .products__button {
    color: #444444;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .catalog-main {
    width: 1300px;
  }
  .products__item {
    width: 20.5%;
  }
  .products__heading {
    margin: 0;
    padding: 0;
    width: 90%;
  }
  .products__all-heading {
    padding-left: 0;
    padding-right: 0;
  }
  .products__all-text {
    padding-left: 0;
    padding-right: 0;
  }
}
.addproducts__heading {
  position: relative;
  top: 0;
  left: -20px;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 100;
  color: #111111;
}
.addproducts__heading::after {
  position: absolute;
  top: 15px;
  right: -40px;
  content: "";
  width: 54px;
  height: 4px;
  background-color: #68b738;
}
.addproducts__heading::before {
  position: absolute;
  bottom: -20px;
  left: 0;
  content: "";
  width: 320px;
  height: 1px;
  background-color: #cdcdcd;
}
.addproducts__list,
.addproducts__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.addproducts__field {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 200;
  text-transform: uppercase;
  color: #444444;
}
.addproducts__table {
  border-collapse: collapse;
}
.addproducts__tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
}
.addproducts__value,
.addproducts__cost {
  margin: 0;
  padding: 0;
  padding: 17px 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}
.addproducts__button {
  position: relative;
  width: 100%;
  margin-bottom: 35px;
  text-align: center;
}
.addproducts__button::after {
  position: absolute;
  bottom: -20px;
  left: -20px;
  content: "";
  width: 320px;
  height: 1px;
  background-color: #cdcdcd;
}
.present__box {
  position: relative;
  margin: 0 auto;
  padding: 190px 0 46px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}
.present__text {
  margin: 0;
  padding: 0;
  padding: 0 60px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
.present__text::after {
  position: absolute;
  top: 66px;
  left: 60px;
  content: "";
  width: 150px;
  height: 50px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .addproducts__wrapper-list {
    padding: 0 37px;
    margin: 0 auto;
  }
  .addproducts__heading {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 36px;
  }
  .addproducts__heading::after {
    bottom: 15px;
    right: -30px;
    width: 328px;
    height: 3px;
    background-color: #68b738;
  }
  .addproducts__heading::before {
    position: absolute;
    bottom: 15px;
    left: -30px;
    width: 30px;
    height: 3px;
    background-color: #68b738;
  }
  .addproducts__list {
    margin-bottom: 20px;
  }
  .addproducts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .addproducts__field {
    width: 45%;
    padding: 17px 0;
    font-size: 20px;
    line-height: 20px;
  }
  .addproducts__value,
  .addproducts__cost {
    padding: 17px 0;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
  .addproducts__value {
    width: 50%;
  }
  .addproducts__cost {
    width: 50%;
  }
  .addproducts__table {
    display: block;
    margin-bottom: 25px;
  }
  .addproducts__table-wrapper {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .addproducts__tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50%;
  }
  .addproducts__button {
    position: relative;
    width: 584px;
    padding: 0;
    margin-bottom: 35px;
    text-align: center;
  }
  .addproducts__button::after {
    bottom: -20px;
    left: 0;
    width: 708px;
    height: 1px;
  }
  .present__box {
    margin-top: 0;
    padding: 80px 0 46px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
  }
  .present__text {
    margin: 0;
    padding: 0;
    padding-left: 425px;
    padding-right: 120px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }
  .present__text::after {
    position: absolute;
    top: 66px;
    left: 60px;
    width: 150px;
    height: 100px;
  }
}
@media (min-width: 1200px) {
  .addproducts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .addproducts__wrapper-list {
    width: 73.3%;
    padding: 0;
  }
  .addproducts__heading {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 100%;
  }
  .addproducts__heading::after {
    bottom: 15px;
    right: -70px;
    width: 956px;
    height: 3px;
    background-color: #68b738;
  }
  .addproducts__list {
    margin: 0;
  }
  .addproducts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    width: 100%;
    margin-bottom: 8px;
  }
  .addproducts__item::after {
    position: absolute;
    bottom: 11px;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #cdcdcd;
  }
  .addproducts__table {
    width: 68%;
  }
  .addproducts__table-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .addproducts__tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
  }
  .addproducts__field {
    width: 100%;
    padding: 17px 0;
  }
  .addproducts__value,
  .addproducts__cost {
    width: 50%;
  }
  .addproducts__button {
    width: 27%;
    margin-bottom: 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .addproducts__button::after {
    display: none;
  }
  .present__box {
    width: 20%;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 245px 289px;
  }
  .present__text {
    padding-left: 0;
    padding-right: 0;
    margin-top: 100px;
    text-align: center;
  }
  .present__text::after {
    top: 20px;
    left: 50px;
    width: 150px;
    height: 100px;
  }
}
.programm__heading {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 100;
  color: #111111;
}
.programm__text {
  margin: 0;
  padding: 0;
  padding: 30px 0 36px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 100;
  text-transform: uppercase;
  color: #444444;
}
.programm__form {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 100;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .programm__heading {
    margin-top: 40px;
    font-size: 60px;
  }
  .programm__text {
    padding: 55px 310px 50px 40px;
    font-size: 20px;
    line-height: 30px;
  }
  .programm__form {
    font-size: 20px;
    line-height: 20px;
  }
}
.form-programm__input[type="text"],
.form-programm__area[placeholder] {
  margin: 0;
  padding: 0;
  padding: 14px 0 14px 17px;
  border: 1px solid #cdcdcd;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 100;
  text-transform: uppercase;
  color: #444444;
}
.form-programm__field {
  margin: 0;
  padding: 0;
  border: 0;
}
.form-programm__title {
  margin: 0;
  padding: 0;
  padding-right: 18px;
  padding-top: 10px;
}
.form-programm__title[for="age"] {
  padding-top: 15px;
}
.form-programm__flex-cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-programm__cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.form-programm__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  width: 100%;
}
.form-programm__cat .form-programm__input {
  width: 100%;
}
.form-programm__input[name="age"] {
  width: calc(100% - 135px);
}
.form-programm__flex-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 25px 0 40px;
}
.form-programm__flex-select::before {
  position: absolute;
  left: -20px;
  top: 15px;
  content: "";
  width: 320px;
  height: 1px;
  background: #cdcdcd;
}
.form-programm__flex-select::after {
  position: absolute;
  left: -20px;
  bottom: 25px;
  content: "";
  width: 320px;
  height: 1px;
  background: #cdcdcd;
}
.form-programm__title2 {
  margin: 0;
  padding: 0;
  padding-left: 46px;
}
.form-programm__radio-indicator {
  position: relative;
}
.form-programm__radio-indicator::after {
  position: absolute;
  left: -1px;
  top: -1px;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}
.form-programm__radio-indicator::before {
  position: absolute;
  left: 9px;
  top: 9px;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
}
.form-programm__radio-indicator:hover::before {
  background: red;
}
.form-programm__select input[type="radio"]:checked + .form-programm__radio-indicator::before {
  background: #68b738;
}
.form-programm__select input[type="radio"]:focus + .form-programm__radio-indicator::after {
  -webkit-box-shadow: 0 0 5px 3px lightblue;
          box-shadow: 0 0 5px 3px lightblue;
}
.form-programm__heading {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-right: 5px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 100;
  text-transform: none;
  color: #111111;
}
.form-programm__heading::after {
  position: absolute;
  top: 15px;
  right: -100px;
  content: "";
  width: 100px;
  height: 4px;
  background-color: #68b738;
}
.form-programm__flex-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-programm__input[name="mail"] {
  width: 100%;
  background-image: url("../img/icon-mail.svg");
  background-size: 150px 15px;
  background-position: 118px center;
  background-repeat: no-repeat;
}
.form-programm__input[name="tel"] {
  width: 100%;
  background-image: url("../img/icon-phone.svg");
  background-size: 150px 21px;
  background-position: 100px center;
  background-repeat: no-repeat;
}
.form-programm_flex-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-programm_flex-area .form-programm__heading {
  margin-top: 20px;
  margin-bottom: 40px;
}
.form-programm_flex-area .form-programm__heading::after {
  right: -20px;
  width: 160px;
}
.form-programm__area[placeholder] {
  padding-top: 14px;
  padding-bottom: 120px;
  padding-left: 10px;
  font-weight: 300;
}
.form-programm_flex-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-programm_flex-add .form-programm__heading {
  margin-top: 25px;
  margin-bottom: 40px;
}
.form-programm_flex-add .form-programm__heading::after {
  right: -140px;
  width: 135px;
}
.form-programm_flex-add2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.form-programm__add {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  position: relative;
}
.form-programm__title3 {
  padding-left: 50px;
}
.form-programm__add .form-programm__checkbox-indicator {
  cursor: pointer;
}
.form-programm__add .form-programm__checkbox-indicator::after {
  position: absolute;
  left: 0;
  top: -3px;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}
.form-programm__add .form-programm__checkbox-indicator:hover::before {
  background: red;
}
.form-programm__add input[type="checkbox"]:checked + .form-programm__checkbox-indicator::before {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 100;
  content: "";
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}
.form-programm__add input[type="checkbox"]:focus + .form-programm__checkbox-indicator::after {
  -webkit-box-shadow: 0 0 5px 3px lightblue;
          box-shadow: 0 0 5px 3px lightblue;
}
.programm__small {
  margin: 0;
  padding: 0;
  padding: 0 50px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
.form-programm__button {
  width: 100%;
  border: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 100;
  text-transform: uppercase;
}
.programm__small-tablet {
  display: none;
  width: 50%;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: none;
}
@media (min-width: 768px) {
  .form-programm__input[type="text"],
  .form-programm__area[placeholder] {
    font-size: 20px;
    line-height: 20px;
  }
  .form-programm__cat {
    width: 100%;
  }
  .form-programm__flex-cat {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
  }
  .form-programm__flex-select {
    padding: 40px 0 40px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #cdcdcd;
  }
  .form-programm__flex-select::after {
    display: none;
  }
  .form-programm__flex-select::before {
    display: none;
  }
  .form-programm__heading {
    font-size: 36px;
    line-height: 36px;
    padding-left: 40px;
    margin-top: 77px;
    margin-bottom: 77px;
  }
  .form-programm_flex-add .form-programm__heading,
  .form-programm_flex-area .form-programm__heading {
    margin-top: 77px;
    margin-bottom: 77px;
  }
  .form-programm__heading br {
    display: none;
  }
  .form-programm_flex-add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form-programm__add {
    width: calc(50% - 80px);
    margin-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .programm__small {
    display: none;
  }
  .form-programm__button {
    width: calc(50% - 40px);
    padding-left: 40px;
    font-size: 20px;
    line-height: 20px;
  }
  .programm__small-tablet {
    display: block;
  }
  .form-programm__button-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 40px;
  }
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
.container2 {
  width: 320px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  padding-top: 11px;
  padding-bottom: 11px;
  background: #68b738;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .container2 {
    margin: 0 auto;
    width: 708px;
    padding: 0 30px;
  }
  .button {
    padding: 15px 25px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1220px;
    margin: 0 auto;
    padding: 0 40px;
  }
  .container2 {
    width: 1220px;
    margin: 0 auto;
    padding: 0 40px;
  }
  .button {
    padding: 15px 25px;
  }
}

/*# sourceMappingURL=style.css.map */
